body {
	--color_primary: rgb(0, 188, 212);
	--color_on_primary: rgb(255, 255, 255);

	--color_surface: #fff;
	--color_surface_variant: #eee;
	--color_on_surface: #222;
	--color_on_surface_variant: #888;

	--color_positive: rgb(76, 175, 80);
	--color_negative: rgb(244, 67, 54);

	--color_shadow: rgba(0, 0, 0, 0.05);
}

/* Alt */
body {
	--color_primary: #03a9f4;
}

body .dark {
	--color_on_primary: #181818;
	--color_surface: #181818;
	--color_surface_variant: #282828;
	--color_on_surface: #aaa;
	--color_on_surface_variant: #888;
}

body .positive {
	--color_primary: var(--color_positive);
}

body .negative {
	--color_primary: var(--color_negative);
}
