body {
	font-family: "Helvetica Neue", sans-serif;
	font-weight: 300;
	font-size: 18px;
	color: var(--color_on_surface);
}

h1 {
	margin: 0;

	font-weight: 300;
	font-size: 32px;
}

p {
	margin: 0;
}
