body {
	font-family: "Helvetica Neue", sans-serif;
}

h1 {
	margin: 0;

	font-weight: 300;
	font-size: 42px;
	text-align: center;
	color: var(--color_on_surface);
}

p {
	margin: 0;

	font-weight: 300;
	font-size: 18px;
	text-align: justify;
	color: var(--color_on_surface_variant);
}
